<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.totonoi.sauna.mobile.SaunaMobileApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_sauna"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Totonoi">

        <activity
            android:name="com.totonoi.sauna.mobile.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Totonoi.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.totonoi.sauna.mobile.sync.SessionSyncListenerService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_LISTENER">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                <data
                    android:scheme="wear"
                    android:host="*" />
            </intent-filter>
        </service>
    </application>
</manifest>
